body {
    background-image: url("./assets/bkg-js-memo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.arrow svg {
    transform: rotate(0deg);
    transition: transform 0.2s ease;
}

.arrow.open svg {
    transform: rotate(90deg);
}
.theme-block {
    cursor: pointer;
    width: 60%;
}
.theme-block.open {
    border: 1px solid #4bebf3;
    border-radius: 5px;
}
.additionalInfo {
    display: none;
}
.additionalInfo.open {
    display: block;
}
